<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bezpieczne notatki</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <header>
        <h1>Bezpieczne notatki</h1>
    </header>

    <nav>
        <a href="{{url_for('home')}}">Strona Główna</a>
        <a href="{{url_for('login')}}">Logowanie</a>
        <a href="{{url_for('register')}}">Rejestracja</a>
    </nav>

    <h1 style="text-align: center">Logowanie</h1>

    <form style="text-align: center" method="POST" action="">
        <div>{{ form.hidden_tag() }}</div>
        <div>{{ form.username }}</div>
        <div>{{ form.password }}</div>
        <div>{{msg}}</div>
        <div>{{ form.submit }}</div>
    </form>
    

</body>

</html>