<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bezpieczne notatki</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .note_area {
            background-color: #cccccc;
            min-height: 400px;
          }          
    </style>
</head>
<body>
    
    <header>
        <div style="float: left">zalogowano jako: {{username}}</div>
        <h1>Bezpieczne notatki</h1>
    </header>

    <nav>
        <a href="{{url_for('home')}}">Strona Główna</a>
        <a href="{{url_for('my_notes')}}">Moje notatki</a>
        <a href="{{url_for('logout')}}">Wyloguj</a>
    </nav>
    <div style="margin: 2em">
        <h2>{{note.name}}</h2>
        <div class = "note_area">{{note.note | safe}}</div>
    
    {% if shareable %}

        <h3>Udostępnij notatkę</h3>
        <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.submit }}
        {{msg[0]}}
        </form>
        {% if shared_users%}
        <h4>Notatka udostępniana użtykownikom:</h4>
            {%for user in shared_users%}
                <div>{{user.username}}</div>
            {%endfor%}
            <button style="margin: 5px"><a href="/my_notes/remove_share/{{note.id}}">Usuń wszystkim dostęp do notatki</a></button>
        {%endif%}
        
    {% endif %}
    </div>
</body>
</html>
