<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bezpieczne notatki</title>
    <link rel="stylesheet" href="static/styles.css">
    <style>
        img {
            display: block;
            height: 50%;
            margin: auto;
        }
    </style>
</head>

<body> 
    <header>
        <h1>Bezpieczne notatki</h1>
    </header>

    <nav>
        <a href="{{url_for('home')}}">Strona Główna</a>
        <a href="{{url_for('login')}}">Logowanie</a>
        <a href="{{url_for('register')}}">Rejestracja</a>
    </nav>

    <div style="text-align: center">
        <h1>Rejestracja - 2FA</h1>
        <div>Twój sekret do weryfikacij dwuetapowej:</div>
        <p>{{totp_key}}</p>

        <div  class="qrcode"></div>
        
        <a href="{{url_for('home')}}">
            <button>Kontynuuj</button>
        </a>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js" integrity="sha512-CNgIRecGo7nphbeZ04Sc13ka07paqdeTu0WR1IM4kNcpmBAUSHSQX0FslNhTDadL4O5SAGapGt4FodqL8My0mA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const QRcodeImage = document.querySelector(".qrcode");
        const uri = {{uri|tojson}};
        //const uri = "otpauth://totp/test:test?secret=64NQNK5DC77A6Y24BQ3XXJBBZHD4BODR&issuer=test";
        let qrcode = new QRCode(QRcodeImage, {
            text: uri,
            width: 300,
            height: 300,
            colorDark: '#001219',
            colorLight: '#ffffff'
        });

    </script>
</body>

</html>